<section class="footer">
    <div class="container">
        <div class="text">
            {{footer.text}}
        </div>
        <div class="link">
            <a href="https://www.w3schools.com/html/html_forms.asp"><span>{{footer.link}}</span></a>
            <p class="footer-text">
                <span>{{footer.para1}}</span>
            </p>
            <a class="web-ink" href="https://nicepage.best">
                <span>{{footer.para}}</span>
            </a>
        </div>
    </div>
</section>