<div class="side-list">
    <ul>
        <li>
            <a routerLink="filter1" routerLinkActive="active">{{list.listsubnav1}}</a>
            <ul>
                <li><a routerLink="filter1/submenu" routerLinkActive="active">{{list.listsubnav2}}</a></li>
                <li><a routerLink="filter1/submenu2" routerLinkActive="active">{{list.listsubnav3}}</a></li>

            </ul>
        </li>
        <li><a routerLink="filter2" routerLinkActive="active">{{list.listsubnav4}}</a></li>
        <li><a routerLink="filter3" routerLinkActive="active">{{list.listsubnav5}}</a></li>
        <li><a routerLink="filter4" routerLinkActive="active">{{list.listsubnav6}}</a></li>
    </ul>
</div>
