@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;700;1,300&display=swap');

.section-5 {
    height: 900px;
}

.role-of-chefs {
    position: relative;
}

.role-of-chefs {
    height: 228px;
    margin-top: 0;
    margin-bottom: 0;
    background-image: none;
    color: #ffffff;
    background-color: #f78fb4;
}

.chef-data-1 .image-1,
.image-2 {
    margin: -63px auto 0 0;
}

.chef-data-2 img,
.chef-data-1 img {
    border-radius: 50%;
    width: 198px;
    height: 198px;
    background-position: 50% 50%;

}

.box {
    position: absolute;
    top: 5rem;
    width: 1300px;
    display: flex;
}

.chef-data-1,
.chef-data-2 {
    width: 600px;
    padding: 0 30px 80px;
}

.chef-data-1 h5,
.chef-data-2 h5 {
    line-height: 1.6;
    margin: 33px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    color: #000;
    padding-bottom: 2rem;
}

.chef-data-2 img {
    padding-top: 1rem;
}