<div class="section-5">
    <div class="role-of-chefs">
        <div class="container">
            <div class="row">
                <div class="box bg-white">
                        <div class="chef-data-1 ">
                            <img src={{chefs.img}}  class="image-1"/>
                            <h5>{{chefs.h5}} </h5>
                            <img src={{chefs.img2}} class="chef-image" />
                            <h5>{{chefs.h5}} </h5>
                        </div>
                  
                        <div class="chef-data-2">
                            <img src={{chefs.img3}} class="image-2" />
                            <h5>{{chefs.h5}} </h5>
                            <img src={{chefs.img4}} class="image-3" />
                            <h5>{{chefs.h5}} </h5>
                        </div>
                  
                </div>
            </div>
        </div>
    </div>
</div>