<table class="table">
    <thead>
        <tr>
            <th scope="col">{{filter1.heading1}}</th>
            <th scope="col">{{filter1.heading2}}</th>
            <th scope="col">{{filter1.heading3}}</th>
            <th scope="col">{{filter1.heading4}}</th>
        </tr>

    </thead>
    <tbody>
        <tr>
            <th scope="row">{{filter1.productId}}</th>
            <td>{{filter1.productname}}</td>
            <td>{{filter1.productprice}}</td>
            <td>{{filter1.productinfr}}</td>
        </tr>
        <tr>
            <th scope="row">{{filter1.productId2}}</th>
            <td>{{filter1.productname2}}</td>
            <td>{{filter1.productprice2}}</td>
            <td>{{filter1.productinfr2}}</td>
        </tr>
        <tr>
            <th scope="row">{{filter1.productId3}}</th>
            <td>{{filter1.productname3}}</td>
            <td>{{filter1.productprice3}}</td>
            <td>{{filter1.productinfr3}}</td>
        </tr>
        <tr>
            <th scope="row">{{filter1.productId4}}</th>
            <td>{{filter1.productname4}}</td>
            <td>{{filter1.productprice4}}</td>
            <td>{{filter1.productinfr4}}</td>
        </tr>
        <tr>
            <th scope="row">{{filter1.productId5}}</th>
            <td>{{filter1.productname5}}</td>
            <td>{{filter1.productprice5}}</td>
            <td>{{filter1.productinfr5}}</td>
        </tr>
    </tbody>
</table>
<router-outlet></router-outlet>