<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6 banner-text">
                <h3>{{bannerData.heading}}
                    <br> <span class="base">{{bannerData.span}}</span>
                </h3>
                <h6>{{bannerData.headingtag}}</h6>
                <p>{{bannerData.para}}</p>
                <button class="banner-button">{{bannerData.btn}}</button>
            </div>
            <div class="col-md-6 banner-img">
                <img src={{bannerData.imagesrc}} />
            </div>
        </div>
    </div>
</section>
<input type="text" name="sfd" [(ngModel)]="design.p">
<app-design [data]="design"></app-design>
<app-list></app-list>
<app-gutter></app-gutter>
<app-role-of-chefs></app-role-of-chefs>
<app-form></app-form>