<section class="section-3">
    <div class="list">
        <div class="container">
            <div class="listOfItems">
                <div class="row">
                    <div class="col-md-6 box1">
                        <div class="box1-content">
                            <span class="icon">
                                <img src={{listOfItems.imagesrc}} />
                            </span>
                            <div class="box-content">
                                <h5>{{listOfItems.h5 }}</h5>
                                <p>{{listOfItems.para }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 box2">
                        <div class="box2-content">
                            <span class="icon">
                                <img src={{listOfItems.imagesrc2}} />
                            </span>
                            <div class="box-content">
                                <h5>{{listOfItems.box2 }}</h5>
                                <p>{{listOfItems.para2 }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 box3">
                        <div class="box3-content">
                            <div class="icon">
                                <img src={{listOfItems.imagesrc3}} />
                            </div>
                            <div class="box-content">
                                <h5>{{listOfItems.box3 }}</h5>
                                <p>{{listOfItems.para3 }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 box4">
                        <div class="box4-content">
                            <div class="icon">
                                <img src={{listOfItems.imagesrc4}} />

                            </div>
                            <div class="box-content">
                                <h5>{{listOfItems.box4}}</h5>
                                <p>{{listOfItems.para4 }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>