<section class="productview">
    <div class="container">
        <div class="row">
            <div class="col-md-6 product-image">
                <img src={{productdata.imagesrc}} />
            </div>
            <div class="col-md-5 product-content">
                <div class="details">
                    <h5>{{productdata.productname}}</h5>
                    <h6>{{productdata.price}}</h6>
                    <p>{{productdata.size}}</p>
                    <h2>{{productdata.colortype}}</h2>
                    <button>{{productdata.color}}</button>
                    <button class="color">{{productdata.color2}}</button>
                    <div class="cardbtn">
                        <button>{{productdata.addtocart}}</button>
                    </div>
                    <div class="content">
                        <h3>{{productdata.about}}</h3>
                    </div>
                    <ul>
                        <li>{{productdata.para1}}</li>
                        <li>{{productdata.para2}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>