<section class="section-4">
    <div class="container gutter">
        <div class="row justify-content-between">
            <div class="col-4 col-md-6 images">
                <div class="row">
                        <img src={{about.img3}} />
                        <img src={{about.img4}} />
                        </div>
                    <div class="row">
                        <img src={{about.img}} />
                        <img src={{about.img2}} />
                    </div>
                    </div>
               
            <div class="col-4 col-md-6">
                <div class="content">
                    <h2>{{about.about}}</h2>
                    <p>{{about.para}}</p>
                    <button class="abt-btn">{{about.btn}}</button>
                </div>
            </div>
        </div>
    </div>
</section>